<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Low Measure</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="icon" type="image/png" href="/assets/images/lm_site_icon.png"/>
</head>

<body>
  <main>
    <h1>Low Measure</h1> 
    {{ content }}
  <footer>
    <nav id="links">
        <a href="https://www.lowmeasure.bandcamp.com">Bandcamp</a>
        <a href="https://open.spotify.com/artist/12hThedPf8GTjx6Jvn3RxL?si=JmLCq5cBSyGvF-y0DPizdQ&nd=1&dlsi=853daad7ebe0465a">Spotify</a>
        <a href="https://www.instagram.com/lowmeasure">Instagram </a>
        <a href="https://www.youtube.com/channel/UCZXzBSnf0xNtIJHkO5ZvRig">Youtube</a>
    </nav>
  </footer>
  </main>
  <script src="/assets/js/script.js"></script>
</body>
</html>
